@model Symphony.Models.A3

@{
    ViewBag.Title = "حذف";
}
<div>
    <h4>قطعه با کنسرت</h4>
    <br />
    <dl>
        <dt>
            @Html.DisplayFor(model => model.Concert.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Track.Name)
        </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
            <input type="submit" value="حذف"/>
    }
</div>
@if (!Request.IsAjaxRequest())
{
@Html.ActionLink("بازگشت", "Index")
}